{% extends 'base.html' %}

{% block title %}注册{% endblock %}

{% block content %}
<h1>注册</h1>
<form method="post">
    <p>
        <label>
            用户名：
            <input type="text" name="username">
        </label>
    </p>
    <p>
        <label>
            邮箱：
            <input type="email" name="email">
        </label>
    </p>
    <p>
        <label>
            密码：
            <input type="password" name="password">
        </label>
    </p>
    <p>
        <label>
            确认密码：
            <input type="password" name="confirm">
        </label>
    </p>
    <p>
        <button type="submit">注册</button>
    </p>
</form>
<p>已有账号？<a href="{{ url_for('auth.login') }}">去登录</a></p>
{% endblock %}
